*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-l,.float-left {
    float: left;
}

.float-r {
    float: right;
}

.pos-rel {
    position: relative;
}

.container {
    width: 85%;
    margin: 0 auto;
}

.btn{
    background-color: #0061ff;
    padding: 10px 20px;
    color: white;
    display: inline-block;
}

 /* header */
header.pos-fix {
    position: fixed;
    top: 0;
    z-index: 999;
}

.left-side, .right-side{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    line-height: 40px;
}

.left-side {
    left: 0;
    padding-left: 20px;
}

.right-side {
    right: 0;
    padding-right: 20px;
}

header {
    width: 100%;
    height: 80px;
    background-color: white;
}

header .logo img{
    height: 30px;
    vertical-align: middle;
}


header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

header .right-side .btn{
    padding: 0 20px;
}


/* jumbotron */
.jumbotron .cont-bgc {
    background-color: #b4d0e7;
    padding-top: 120px;
}

h1{
    font-size: 80px;
    line-height: 100px;
    margin-bottom: 30px;
}

.jumbo-left {
    width: 30%;
}

p {
    line-height: 26px;
    margin-bottom: 30px;
    font-size: 22px;
}

.jumbo-left .btn{
    margin-bottom: 15px;
}

.jumbo-left span{
    display: block;
}

.jumbo-left i{
    display: inline-block;
    font-size: 50px;
    margin: 30px 0 100px 0;
}


.jumbo-right{
    position: absolute;
    top: 350px;
    right: 20px;
}


/* MAIN */

/* zona abbonamenti */
.prezzi{
    margin-top: 200px;
    margin-left: 250px;
}

.prezzi::after{
    content: "";
    display: table;
    clear: both;
}

.prezzi h2{
    font-size: 40px;
    text-align: center;
}

#abbonamento{
    font-size: 35px;
    margin-bottom: 30px;
    display: block;
}

.casella{
    border: 1px solid;
    width: 25%;
    display: inline-block;
    float: left;
}

.n2{
    margin: 0px 50px;
}

.icona{
    text-align: center;
    border-bottom: 1px solid;
}
.casella h4{
    font-size: 30px;
}

.casella-padd{
    margin: 0px 20px;
}

.casella-padd *{
    
    margin-bottom: 10px;
}

.sotto-costo{
    color: gray;
}

.casella-padd li{
    font-size: 14px;
}
.lista-3{
    margin-bottom: 20px;
    list-style-type: none;
}

.simbolo{
    margin: 40px 0px;
    list-style-type: none;
    
}

.btn-lista{
    font-size: 20px;
    padding: 5px 40px;
    text-align: center;
}

.riga{
    margin: 30px 200px;
    margin-left: 0px;
    color: rgb(167, 166, 166);
}

.casella-padd h5{
    font-size: 20px;
}

.lista{
    list-style-type: none;
    margin-bottom: 50px;
}

/* tabella sotto abbonamenti */
.cln{
    border: 1px solid;
    margin:50px 250px;
    
}

.cln *{
    margin: 16px 0px;
}

.cln .icona{
    font-size: 20px;
    
}

.cln h3{
    font-size: 30px;
    display: inline-block;
    margin-right: 600px;
    padding:0px 20px
    
}
 .cln div{
     padding: 0px 20px;
 }

.btn a{
    color: white;
    text-decoration: none;
    
}

/* inizio immagine */
.intermezzo{
    margin: 50px 250px;
}

.intermezzo img{
    display: inline-block;
    vertical-align: middle;
}

.intermezzo-dx{
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    margin-left: 100px;
}

.intermezzo-dx h3{
    display: inline-block;
    font-size: 40px;
}
 .intermezzo-dx div{
     font-size: 20px;
 }

.white{
    background-color: white;
    color: black;
    border: 1px solid;
    margin-top: 20px;
}

/* inizi benefici */

.benefici{
    margin: 50px 250px;
}
.benefici h2{
    font-size: 60px;
      
}

.row{
    vertical-align: middle;
    display: inline-block;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.item{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 50px;
    float: left;
}

.item img{
    width: 300px;
    height: auto;
    vertical-align: middle;
}

.centrale {
    margin-left: 50px;
    margin-right: 50px;
}

.item h4{
    font-size: 30px;
    margin: 20px 0px;
}

/* boxes */

.top-boxes{
    margin-top:40px;
}


.col-boxes{
    width: calc(100% /3)
}

.img-col{
    width: 49%;
    height: 200px;;
    padding: 50px;
    vertical-align: middle;
    object-fit: contain;
}

.img-green{
    background-color: #a2d39b;
    border: 8px solid #d0e9cd;
}

.img-burgundy{
    background-color: #61082b;
}

.img-lightblue{
    background-color: #0093ce;
}

.img-orange{
    background-color: #ff1c1c;
}

.img-red{
    background-color: #d5001f;
}

.img-lightbluish{
    background-color: #b4d0e7;
}

.img-blue{
    background-color: #0d2481;
}

.img-yellow{
    background-color: #ffd830;
}

.middle-box{
    background-color: #f5f5f5;
    height: 400px;
    padding: 50px;
    overflow-y: auto;
}


.designit-position{
    width: 40%;
    object-fit: contain;
    border-bottom: 1px solid #d0d0d3;
}

.col-boxes article{
    line-height: 1.6;
    font-size: 20px;
    margin: 30px 0;
}

.bottom-boxes{
    background-color: #b4d0e7;
    padding: 100px 400px 80px 150px;
    margin-bottom: 100px;
    width: 100%;
    position: relative;

}

.bottom-boxes h2{
    color: #61082b;
    font-size: 48px;
    text-align: left;
}

.btn-white-noborder{
    position: absolute;
    top: 33%;
    right: 10%;

}
.faq{
    margin: 30px; 
    float: left;
    width: 100%;   
}
.domande{
    text-align: center;
}
hr{
    margin-left: 500px;
    margin-right: 500px;    
}
.arrow{
    margin-left: 60px;
}

/* footer*/


.container-footer{
    font-family: 'Roboto', sans-serif;
    color: white;
    width:100%;
    height:665px;
    background-color: #000000;
    margin-top: 100px;
    padding: 150px 150px;
    position: relative;
}



.col-fot{
    width: calc(100% / 5 - 20px);
    margin: 0 10px;
}

.col-flot nav ul li a{
    text-decoration: none;
    color: white;
}

.col-fot h4{
    font-size: 20px;
}

.col-fot nav ul{
    list-style-type: none;
}

.col-fot nav ul li a{
    text-decoration-line: none;
    font-size: 14px;
}

.col-fot nav ul li{
    margin-top: 8px;
}

#language{
    position: absolute;
    bottom: 24%;
    left: 12%;
    border-top: 1px solid #767676;
    line-height: 78px;
}

#language a{
    color: #767676;
    text-decoration-line: none;
}

#language i:first-child{
    color: #bdc4c9;
}


#language span{
    margin:0 5px;
}


